html {
    height: 100%;
}

body {
    overflow-x: hidden;
    background-color: rgb(221, 221, 221);
    min-height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
}

.bg-dark {
    background-color: #444 !important;
}

/* Navbar */
h2, .navbar-brand, .main-btn {
    font-family: 'Yellowtail', cursive;
}

.navbar {
    padding: 0;
    border-bottom: 3px solid black;
}

.navbar-brand {
    padding: 20px 0px;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
}

/* Main section */
main {
    margin: 45px 5%;
    box-shadow: 2px 9px 15px -3px #444;
}

.card-title {
    display: flex;
    flex-direction: row;
}

h2 {
    font-size: 45px;
}

.hsLink, .timer {
    transition: ease-out 0.3s;
    font-size: 25px;
    margin-top: 12px;
    color: black;
    padding-right: 18px;
    position: absolute;
    right: 0;
}

.hsLink:hover {
    text-decoration: none;
    color: rgb(109, 109, 109);
    transition: linear 0.4s;
}

main p {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 1.6em;
}

.instructions li {
    font-size: 18px;
    margin: 20px 0;
}

.main-btn {
    font-size: 2rem;
    background-color: #444;
}

.main-btn:hover {
    background-color: rgb(116, 116, 116);
}

.card {
    border: 3px solid #444;
}

.card-body {
    padding: 1.04rem;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

#Hello {
    width: 25%;
    float: left;
    margin-right: 2%;
    border-radius: 5%;
    border: 2px solid #444;
    box-shadow: 2px 6px 15px -3px #444;
}

hr {
    height: 2px;
    background-color: #444;
    border: none;
}

.container h1 {
    margin-bottom: 25px;
    font-size: 35px;
}

.hide {
    display: none;
}


/* Footer */
footer {
    margin-top: auto;
    height: 4.5rem;
    width: 100%;
    background-color: #444;
    color: white;
    text-align: center;
    border-top: 3px solid rgb(145, 145, 145);
}

footer p{
    margin: 1px 0 0 0;
    padding: 5px 0 0 2px;
}

/* Media */
@media(max-width: 640px) {
    .card-title {
        flex-direction: column;
    }

    .hsLink, .timer {
        font-size: 25px;
        margin: 5px 0;
        color: black;
        padding-right: 0px;
        position: relative;
    }
}