html {
    height: 100%;
}

body {
    background-color: rgb(221, 221, 221);
    display: flex;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-height: 100%;
    overflow-x: hidden;
}

/* Had to use !important on this because the Bootstrap CSS also had !important on their's. */
.bg-dark {
    background-color: #444 !important;
}

/* Navbar */
h2, .navbar-brand, .main-btn, .game-btn, .high-scores ul {
    font-family: 'Yellowtail', cursive;
}

.navbar {
    border-bottom: 3px solid black;
    padding: 0;
}

/* My Logo */
.navbar-brand {
    padding: 20px 0px;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
}

/* Main section index */
main {
    margin: 45px 5%;
    box-shadow: 2px 9px 15px -3px #444;
}

/* The text right before the hr */
.card-title {
    display: flex;
    flex-direction: row;
}

h2 {
    font-size: 45px;
}

/* This is for the Highscores / Main game link, as well as the timer. */
.hsLink, .timer {
    color: black;
    font-size: 25px;
    margin-top: 12px;
    padding-right: 18px;
    position: absolute;
    right: 0;
    transition: ease-out 0.3s;
}

.hsLink:hover, .beforeFooter:hover {
    color: rgb(109, 109, 109);
    text-decoration: none;
    transition: linear 0.3s;
}

/* Paragraphs in the main section */
main p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 1.7em;
}

/* This is for the number that shows up on the countdown timer in the middle */
.giantNumber {
    font-size: 200px;
    text-align: center;
}

.instructions li {
    font-size: 18px;
    margin: 20px 0;
}

/* Styling for the buttons in the game */
.main-btn, .game-btn {
    background-color: #444;
    font-size: 2rem;
}

.main-btn:hover, .game-btn:hover {
    background-color: rgb(116, 116, 116);
}

.game-btn {
    margin-top: 20px;
    padding: 25px;
    width: 100%;
}

.submit-btn {
    font-size: 1.5rem;
    height: 50px;
    padding-left: 15px;
    width: 100px;
}

.btn-block+.btn-block {
    margin-top: 20px;
}

.btn-secondary.focus, .btn-secondary:focus, .btn-secondary:not(:disabled):not(.disabled):active {
    background-color: rgb(116, 116, 116);
}

/* Styling for the main card in the center of the screen */
.card {
    border: 3px solid #444;
}

.card-body {
    padding: 1.04rem;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

/* Styling for the hr on the main card */
hr {
    background-color: #444;
    border: none;
    height: 2px;
}

/* This styling needed to come before the .hide class otherwise hide would get overwritten. */
.finalScore, #user-name, .submit-btn {
    display: inline-flex;
}

/* This class allows me to quickly hide anything I need on the page */
.hide {
    display: none;
}

/* This styling will get added to the correct answer */
.correct, .correct:hover, .correct:focus, .correct:active {
    background-color: darkgreen;
}

/* This styling will get added to the wrong answer */
.wrong, .wrong:hover, .wrong:focus, .wrong:active {
    background-color: darkred;
}

/* Github Repo link styling */
.beforeFooter {
    color: black;
    font-size: 16px;
    margin-bottom: 30px;
    text-align: center;
}


/* Main section for Highscores.html */

/* This is for the text input area */
#user-name {
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 5px;
    border: 2px solid #444;
    height: 50px;
    margin-right: 15px;
    width: 65%;
}

#user-name:focus {
    outline: none;
}

#user-name::placeholder {
    color: #444;
    font-size: 20px;
}

/* Styling for the final score text */
#highScore {
    color: black;
    font-size: 20px;
    font-weight: bold;
}

/* Styling for the user's final score number */
#user-score {
    font-size: 25px;
    margin-left: 5px;
}

/* Styling for the highscores list */
.high-scores ul {
    font-size: 40px;
    list-style: none;
    padding-left: 0;
    text-decoration: none;
}

/* Styling for the error that'll show up if the user tries to enter an empty name */
.error {
    color: red;
    margin-bottom: 0;
    margin-top: 5px;
}

/* Footer */
footer {
    background-color: #444;
    border-top: 3px solid rgb(145, 145, 145);
    color: white;
    height: 4.5rem;
    margin-top: auto;
    text-align: center;
    width: 100%;
}

footer p{
    margin: 1px 0 0 0;
    padding: 5px 0 0 2px;
}

/* Media */
@media(max-width: 640px) {
    /* Main page */
    .card-title {
        flex-direction: column;
    }

    .hsLink, .timer {
        color: black;
        font-size: 25px;
        margin: 5px 0;
        padding-right: 0px;
        position: relative;
    }


    /* Highscores page */
    .submit {
        display: flex;
        flex-direction: row; 
        margin-left: 0px;
    }
}